.App {
  text-align: center;
  /* background-color: #ffffff; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.statusContainer {
  margin-top: 70px;
  text-align: center;
}

.statusText {
  padding-top: 8px;
  font-size: 22px;
  color: #000;
}

.statusDivider {
  margin-top: 10px;
  border-top: 1px solid #cccccc;
  font-size: 22px;
  color: #000;
  padding-top: 5px;
}

.refreshBtn {
  font-size: 18px;
  background-color: coral;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.refreshBtn:hover {
  background-color: #cd5b45;
}